* {
  margin: 0;
}

body {
  font-size: 13px;
  background-color: hsl(210, 46%, 95%);
}

.container {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 350px;
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 15px 15px 25px hsl(212, 23%, 69%);
}

.main-photo {
  overflow-x: hidden;
  object-fit: cover;
  object-position: 0;
  width: 1000px;
  border-radius: 13px 0 0 13px;
}

.right-container {
  margin: 45px 45px 0px 45px;
}

.top-text {
  color: hsl(217, 19%, 35%);
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.middle-text {
  color: hsl(214, 17%, 51%);
  font-family: 'Manrope', sans-serif;
  font-weight: 500px;
  font-size: 15px;
  line-height: 170%;
  margin-top: 20px;
}

.footer-status {
  display: flex;
  position: absolute;
  bottom: 40px;
}

.profile-image {
  width: 44px;
  height: 44px;
  border-radius: 22px;
}

.name {
  margin-left: 12px;
  width: 330px;
}

h2 {
  margin-top: 3px;
  color: hsl(217, 19%, 35%);
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

span {
  color: hsl(212, 23%, 69%);
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}

.share-all {
  position: relative;
}

#share-icon {
  width: 36px;
  height: 36px;
  font-size: 27px;
  background-color: hsl(210, 46%, 95%);
  border-radius: 18px;
  text-align: center;
  margin: 5px;
  box-shadow: 1px 1px 4px hsl(214, 17%, 51%);
  cursor: pointer;
}

#share-icon:hover {
  background-color: hsl(213, 43%, 91%);
}

#share-icon:active {
  transform: translate(2px);
}

#share-options {
  height: 60px;
  width: 300px;
  background-color: hsl(217, 19%, 35%);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 150%;
  margin-left: -280%;
  visibility: hidden;
}

#share-options::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.share {
  font-size: 16px;
  color: hsl(212, 23%, 69%);
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.facebook,
.twitter,
.pinterest {
  padding-left: 20px;
  width: 26px;
  height: 26px;
}
